@font-face {
    font-family: 'Upheaval';
    src: url('fonts/upheavtt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
    box-sizing: border-box;
}

img, video, iframe, figure {
    max-width: 100%;
}

:root {
    --bg-main: #5BA17f;
    --bg-two: #85694B;
    --bg-three: #aaaaaa;
    --bg-four: #4B6B85;
    --bg-five: #5f7f99;
}

* {
    font-family: 'Upheaval', sans-serif;
    font-size: 37px;
}

body {
    color: var(--bg-three);
    background-color: var(--bg-main);
}

a {
    color: inherit;
}

a:hover {
    color: white;
    text-shadow: 2px 2px black;
}

header {
    background-color: var(--bg-two);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
}

h1 {
    font-size: 1.25em;
}

i {
    color: var(--bg-main);
}

header > * {
    flex: 1;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    color: white;
    position: fixed;
    bottom: 0;
}

.error {
    color: var(--bg-main);
    font-size: 28px;
}