body {
    background-color: var(--bg-four);
}

canvas {
    margin-top: 0.5em;
}

body {
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-top: 0;
    text-shadow: 2px 2px black;
}

header, footer {
    display: none;
}

#stats {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
}

#stats > * {
    margin: 0;
}

#score {
    color: rgb(184, 142, 38);
}

#timer {
    color: black;
    text-shadow: 1px 1px var(--bg-three);
}

#powerup {
    color: rgb(112, 164, 241);
}

#info {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 120px;
}

#result {
    font-size: 96px;
    position: absolute;
    top: 25%;
    left: 35%;
}

#controls, #startPause {
    text-align: center;
    max-width: 300px;
    width: 100%;
    position: absolute;
    top: 24px;
    left: 10px;
}

#startPause {
    max-width: 200px;
    width: 100%;
}

#controls > * {
    margin: 10px 0;
    font-size: 30px;
}

.odd {
    color: var(--bg-main);
}

.even {
    color: var(--bg-two);
}

#end {
    position: fixed;
    top: 200px;
    right: 50px;
}

.hide {
    display: none;
}

#pause {
    text-align: center;
    position: fixed;
    top: 200px;
}