{% extends "base.html" %}
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='attribution.css') }}" />
    {% endblock %}
{% block main_content %}
    <section>
        <h1>Sprites</h1>
        <p><a href="https://opengameart.org/content/lpc-medieval-fantasy-character-sprites">Sprite pack for player and enemies</a></p>
        <p><a href="https://cainos.itch.io/pixel-art-top-down-basic">Background Tileset</a></p>
        <p><a href="https://frostwindz.itch.io/pixel-art-slashes">Player Attack Animation (Slash 1 Colour 2)</a></p>
        <p><a href="https://cainos.itch.io/pixel-art-icon-pack-rpg">Icons for Inventory and Powerups</a></p>
        <p><a href="https://opengameart.org/content/fireball-spell">Fireball Spell</a></p>
        <p><a href="https://opengameart.org/content/icicle-spell">Icicle Spell</a></p>
        <p><a href="https://iconduck.com/icons/22571/volume-up">Sound Icon</a></p>
        <p><a href="https://iconduck.com/icons/22569/volume-mute">Muted Sound Icon</a></p>
    </section>
    <section>
        <h1>Code</h1>
        <p><a href="https://developer.mozilla.org/en-US/docs/Web/API/Element/getBoundingClientRect">getBoundingClientRect()</a></p>
        <p><a href="https://stackoverflow.com/a/12147197">loop.index for Jinja (Leaderboard Placement)</a></p>
        <p><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals">Template Literals</a></p>
        <p><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/splice">Splice</a></p>
        <p><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/slice">Slice</a></p>
        <p><a href="https://stackoverflow.com/a/12278510">Adding Extra 0 for Single Digit Time Values (JS)</a></p>
        <p><a href="https://stackoverflow.com/a/58233733">Adding Extra 0 for Single Digit Time Values (Jinja)</a></p>
        <p><a href="https://stackoverflow.com/a/68564312">Increment All Values in a List</a></p>
    </section>
    <section>
        <h1>Other</h1>
        <p><a href="https://www.dafont.com/upheaval.font">Font</a></p>
        <p><a href="https://leohpaz.itch.io/minifantasy-dungeon-sfx-pack">Music / Sound Effects</a></p>
    </section>
{% endblock %}