{% extends "base.html" %}
    {% block styles %}
    <script src="{{ url_for('static', filename='index.js') }}" type="module"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}" />
    {% endblock %}
{% block main_content %}
        <canvas width="960" height="640px"></canvas>
            <section id="stats">
                <p id="cheats"></p>
                <p id="score"></p>
                <p id="timer"></p>
                <p id="highscore"></p>
                <p id="powerup"></p>
            </section>

        <script>
            let highscore_value = '{{ highscore|tojson|safe }}'
            highscore_value = JSON.parse(highscore_value);
        </script>
{% endblock %}