<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game</title>
        <script src="{{ url_for('static', filename='index.js') }}" type="module"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    </head>
    <body>
        <section>
            <canvas width="800px" height="612px"></canvas>
            <p id="health"></p>
            <p id="outcome"></p>
            <p id="play"><a href=""></a></p>
        </section>
    </body>
</html>