{% extends "base.html" %}
    {% block styles %}
    <script src="{{ url_for('static', filename='index.js') }}" type="module"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}" />
    {% endblock %}
{% block main_content %}
        <p id="startPause">Press B to pause and see controls, and enable music</p>

        <section id="levelTransition">
            <p></p>
            <p></p>
        </section>

        <section id="controls" class="hide">
            <h1>how to play</h1>
            <p class="odd">wasd or arrow keys to move</p>
            <p class="even">q / e to cycle through inventory</p>
            <p class="odd">left click to attack / use potion</p>
            <p class="even">kill enemies and finish quickly to gain score</p>
            <p class="odd">defeat the final boss to win!</p>
            <p class="even">Press P to enable cheats</p>
            <p class="odd">if you use cheats it will show on the leaderboard</p>
        </section>

        <section id="end" class="hide">
            <p><a href="">Play Again</a></p>
            <p><a href="{{url_for('leaderboard')}}">Leaderboard</a></p>
            <p><a href="{{url_for('index')}}">Main Menu</a></p>
        </section>

        <section id="pause" class="hide">
            <h1>Paused</h1>
            <p>Press B to unpause</p>
        </section>

        <p id="result"></p>

        <canvas width="960" height="640px"></canvas>
            <section id="stats">
                <p id="cheats"></p>
                <p id="score"></p>
                <p id="timer"></p>
                <p id="highscore"></p>
            </section>
            
            <section id="info">
                <p id="level"></p>
                <p id="powerup"></p>
            </section>

            <img id="audioImage" src="{{ url_for('static', filename='images/icons/volume-mute.svg') }}" alt="Clickable" onclick="handleAudio()" style="cursor: pointer;">
            <audio id="backgroundMusic" src="{{ url_for('static', filename='sfx/music/Goblins_Dance_(Battle).wav') }}"></backgroundMusic>

            <script>
                function handleAudio() {
                    let backgroundMusic = document.getElementById("backgroundMusic");
                    let audioImage = document.getElementById("audioImage");
                    if (backgroundMusic.paused) {
                        backgroundMusic.play();
                        backgroundMusic.loop = true;
                        audioImage.src = "{{ url_for('static', filename='images/icons/volume-up.svg') }}";
                    }
                    else {
                        backgroundMusic.pause();
                        audioImage.src = "{{ url_for('static', filename='images/icons/volume-mute.svg') }}";
                    }
                }
          
            let highscore_value = '{{ highscore|tojson|safe }}'
            highscore_value = JSON.parse(highscore_value);
        </script>
{% endblock %}