{% extends "base.html" %}
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='leaderboard.css') }}" />
    {% endblock %}
{% block main_content %}
            <section>
                {% if leaderboard %}
                    <table>
                            <thead>
                                <tr>
                                    <th>Placement</th>
                                    <th>User</th>
                                    <th>Score</th>
                                    <th>Time</th>
                                    <th>Cheats</th>
                                </tr>
                            </thead>
                        {% for user in leaderboard %}
                                <tr class="{% if user['user'] == g.user %}user_rank{% else %}other_user{% endif %}">
                                    <td>
                                        {% if user["score"] != 0 and user["time"] != 0 %}
                                            #{{ loop.index }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>{{ user["user"] }}</td>
                                    <td>{{ user["score"] }}</td>
                                    <td>
                                        {{ user["time"]//60 }}:{{ '%02d' % (user["time"] % 60) }}
                                    </td>
                                    <td>{% if user["cheats"] == 0 %} 
                                        <p class="green">No</p>
                                        {% else %}
                                        <p class="red">Yes</p>
                                        {% endif %}
                                    </td>
                                </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>User scores will appear here.</p>
                {% endif %}
            </section>
{% endblock %}