{% extends "base.html" %}
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}" />
    {% endblock %}
{% block main_content %}

<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}

    {{ form.user() }}
    {% for error in form.user.errors %}
        <span class="error">{{ error }}</span>
    {% endfor %}

    {{ form.password() }}
    {% for error in form.password.errors %}
        <span class="error">{{ error }}</span>
    {% endfor %}

    {{ form.submit() }}
    <p><a href="{{url_for('register')}}">Sign Up</a></p>
</form>
<p><a href="{{url_for('index')}}">Main Menu</a></p>

{% endblock %}